awkward==2.6.6
hist[plot]==2.7.3
# Ensure Jupyter notebook
# SSL JupyterHub has a bug with notebook v7.0
notebook~=6.0
jupyterlab~=4.0
tqdm==4.66.4
tensorflow==2.16.1
evomip @ git+https://github.com/dr4kan/EvoMiP.git#egg=evomip